body {
  max-width: 90%;
  margin: 0 auto;
}

p:first-of-type {
  font-size: 50px;
  leter-spacing: 100px;
}

p:nth-of-type(2) {
  font-size: 100px;
  word-spacing: 10px;
}

p {
  color:#3dc6d1;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  animation-name: purpleMinion;
  animation-duration: 4s;
  -webkit-animation-name: purpleMinion;
  -webkit-animation-duration: 4s;
}
.minion{
  display: block;
  max-width: 500px;
  height:500px;
  margin: 0 auto;
  background-image: url(images/minionShadow.png);
  background-repeat: no-repeat;
  background-size:contain;
}

button{
  display: block;
  max-width: auto;
  height:auto;
  margin:20px auto;
  background-color: #3dc6d1;
  font-size: 100px
  text-align:center;
  padding: 10px;
  border-radius: 20px 0px;
  border-style: none;
  color:yellow;
  white-space: normal;
  outline:none;
  cursor: pointer;
}
button:hover{
  background-color: #3c9da5;
}
a{
  text-decoration: none;
}
.minion:hover{
background-image:url(images/purpleminion.png);
background-repeat: no-repeat;

}
i{font-size: 80px;
  color:purple;
  animation: rotate 5s 3;
-webkit-animation: rotate 1s linear infinite;
animation-play-state: paused;
}
@-webkit-keyframes rotate {
  from{transform:rotate(0deg);}
    to{transform:rotate(360deg)}
}
@keyframes rotate {
  from{transform:rotate(0deg);}
    to{transform:rotate(360deg)}
}
i:hover{
  animation-play-state: running;
}
ul{

  text-align: center;
  list-style-type: none;
  margin: 0;
 padding: 0;
}
li{
  display:inline;
  color:#3c9da5;
  font-size: 100px;
}
